fieldset, ul {
  border-radius: 4px;
  padding: 10px;
}

ul {
  flex-direction: column;
  background-color: #fff;
  margin: 10px 0;
  padding-top: 15px;

  li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 8px;
  }
}

input, button, .message {
  border-radius: 4px;
  border: 1px solid gray;
  padding: 4px 10px;
}

button {
  background-color: rgb(73, 170, 73);
  border: none;
  color: #fff;
  cursor: pointer;

  &.remove {
    background-color: rgb(160, 44, 63)
  }
  &.disabled {
    opacity: .6;
    cursor: no-drop
  }
}

.message {
  background-color: rgba(125, 155, 125, 0.856);
  border: none;
  color: rgb(1, 43, 1);
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-align: center;

  &.warning {
    background-color: rgba(158, 83, 33, 0.4);
    color: rgb(122, 56, 18);
  }
  &.danger {
    background-color: rgba(153, 67, 81, 0.856);
    color: rgb(77, 0, 0);
  }
}
